<h2>質問詳細画面</h2>

<div>
  <h3>質問タイトル</h3>
  <%= @question.title %>
</div>
<div>
  <h3>質問内容</h3>
  <%= @question.body %>
</div>

<div><%= link_to  "編集", edit_question_path %></div>
<div><%= link_to  "削除", question_path(@question), method: :delete, data: {confirm: "質問「#{@question.title}」を削除しますか？"}, class: 'btn-danger' %></div>

<div><%= link_to  "解決済みにする",  solve_question_path, method: :update %></div>