<!DOCTYPE html>
<html>
  <head>
    <title>RailsPractice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" >QuestionApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            
            <a class="nav-link" href="#">質問一覧</a>
            <% if current_user %>
              <%= link_to  "ログアウト", logout_path, method: :delete, class:"nav-link" %>
            <% else %>
              <a class="nav-link" href="/login">ログイン</a>
              <a class="nav-link" href="/users/new">新規ユーザー作成</a>
            <% end %>
            <% if current_user %>
              <%= "ログイン中のユーザーは#{current_user.name}さんです。" %>
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">質問投稿</a>
              <a class="nav-link active" aria-current="page" href="users">ユーザー一覧</a>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
